<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>Details</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div *ngIf="note">
        <ion-item>
            <ion-label position="stacked">Titre</ion-label>
            <ion-input [(ngModel)]="note.Title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Note</ion-label>
            <ion-textarea [(ngModel)]="note.Body"></ion-textarea>
        </ion-item>
    </div>
    <ion-button expand="block" color="success" (click)="setNote()">
    <ion-icon name="save" slot="start"></ion-icon>
    Modifier
    </ion-button>

    <ion-button expand="block" color="red" (click)="deleteNote()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Supprimer 
    </ion-button>

</ion-content>