<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notes App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let note of notes" (click)="showNote(note)">
      <ion-label>
        {{note.Title}}
      </ion-label>
    </ion-item>
  </ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addNote()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
